*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1,h2{
    color: #444;
}
h3{
    color: #999 ;
}


.btn{
    background-color: #f05462;
    color: #ffffff;
    padding: 6px 7px;
    border-radius: 5px;
    text-align: center;
}

 .btn:hover{
    color: #f05462;
    background-color: #fff;
    border: 1px solid #f05462;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    border-bottom: 2px solid #999;
}
table{
    padding: 10px;
}

td,th{
   text-align: left;
   padding: 10px; 
}




/*Side menu CSS*/

.side_menu{
    position: fixed;
    background: #f05462;
    width: 40vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side_menu .brand_name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side_menu li{
    font-size: 20px;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.side_menu li:hover{
    background: white;
    color: #f05462;
}

/*Navbar css*/
.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 105vh;
    background-color: rgb(235, 235, 235);
}
.container .header{
     top: 0;
     right: 0;
     width: 80vw;
     height: 10vh;
     background-color: white;
     display: flex;
     align-items: center;   
     justify-content: center;
     box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search{
    width: 720px;
    display: flex;
    justify-content: center;
}

.container .header .nav .search input[type=text]{
    border: none;
    background-color: #f1f1f1;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}

.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container .header .nav .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container .header .img_case{
 padding: 0;
 margin: 0;
  
}
.container .header .img_case .fa-bell{
    padding-right: 20px;
}

/*card css*/

.container .content{
     position: relative;
     margin-top: 10vh;
     min-height: 90vh;
}

.container .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card{
    width: 250px;
    height: 150px;
    background-color: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

/*content-2 css*/

.container .content .content_2{
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container .content .content_2 .recent_payments{
    min-height: 50vh;
    flex: 5;
    background-color: #fff;
    margin: 0 25px 25px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.container .content .content_2 .recent_payments .title .one{
    margin-right: 60px;
}

.container .content .content_2 .recent_payments .title h2{
    margin-left: 60px;
}

.container .content .content_2 .new_students{
    min-height: 50vh;
    flex: 2;
    background-color: #fff;
    margin: 0 25px ;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.container .content .content_2 .new_students .title .two{
    margin-right: 10px;
}

.container .content .content_2 .new_students .title h2{
    margin-left: 10px;
}

.container .content .content_2 .new_students table td:nth-child(1) img{
    height: 30px;
    width: 30px;
}

/* Mobile Responsive */

@media screen and (max-width: 1050px){
    .side_menu li{
        font-size: 15px;
    }
}

@media screen and (max-width: 950px){
    .side_menu li span{
        display: none;
    }
    .side_menu{
        align-items: center;
    }

    .side_menu li i{
        font-size: 20px;    
    }
    .side_menu .brand_name h1{
        font-size: 20px;
    }
}




